// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Форма"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "form";