<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<!-- Скрипты -->
<!-- build:js js/bundle.min.js -->
<script src="assets/scripts/libraries/lazyload.js"></script>

<script src="assets/scripts/functions.js"></script>
<script src="assets/scripts/base.js"></script>
<script src="assets/scripts/init.js"></script>
<script src="assets/scripts/header.js"></script>
<!-- endbuild -->
</body>

</html>