// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-height: 100vh;

  & > main {
    flex-grow: 1;
  }

  &__body {
    overflow: clip;
  }
}
