.checkbox {
  display: inline-flex;
  align-items: center;

  &__mark {
    position: relative;
    display: block;

    flex-shrink: 0;

    width: 25px;
    height: 25px;

    margin-top: 2px;
    margin-right: 10px;

    border: 2px solid #5e5e5e;

    cursor: pointer;
    transition: all 0.15s ease;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 70%;
      height: 70%;

      transform: translate(-50%, -50%);
      background: #da2e2b;

      opacity: 0;

      transition: opacity 0.15s ease;
    }
  }

  &:hover &__mark {
    border-color: #da2e2b;
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark {
      border-color: #da2e2b;
    }

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__label {
    margin-top: 2px;

    transition: color 0.15s ease;
  }

  &__policy {
    transition: color 0.15s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
