.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      border-color: #e64747;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    width: 100%;
    padding: 20px 25px;

    border: 1px solid $palette-black;
    outline: none;

    background-color: transparent;
    color: $color-text__primary;

    font-size: $font-size__text--regular;

    &::placeholder {
      color: #353535;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 15px;

    width: 24px;
    height: 24px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
