// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "input";
@import "checkbox";