// -----------------------------------------------------------------------------
// Соединяем компоненты в один файл
// -----------------------------------------------------------------------------
@import "accordion/main";
@import "button/main";
@import "dropdown/main";
@import "form/main";
@import "input/main";
@import "list/main";
@import "modal/main";
@import "preloader/main";
@import "section/main";
@import "slider/main";
@import "table/main";
@import "tooltip/main";
