.button {
  display: inline-block;

  border: none;
  border-radius: $border-radius;

  background-color: transparent;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
