// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  color: $color-text__primary;

  font-size: $font-size__text--regular;
  font-family: $font-default;

  line-height: $line-height--primary;
}
