// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {

}

.footer {

}