.mobile-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;

  visibility: hidden;

  &__overlay {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
  }

  &__wrapper {
    position: absolute;
    top: -100%;
    left: 0;

    overflow: auto;

    width: 100%;
    height: 100%;
    max-height: 530px;

    padding: 100px 30px 40px;

    background-color: #ffffff;

    transition: 0.5s ease-out;
  }

  &__button {
    display: block;
    margin: 30px auto 0;
  }

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__wrapper {
      top: 0;
    }
  }
}
