// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Модальное окно"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "modal";