// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Прелоадер"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "preloader";