// -----------------------------------------------------------------------------
// В этом файле подключаются все шрифты через font-face, если таковые есть
// -----------------------------------------------------------------------------

@include font-face("Roboto", "../fonts/Roboto/Roboto-Light", 300);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", 400);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", 700);
