// -----------------------------------------------------------------------------
// В этом файле сбрасываются стандартные стили для тегов
// -----------------------------------------------------------------------------

figure,
blockquote,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

textarea {
  white-space: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

select {
  display: none;
}
