// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Roboto, sans-serif;
  font-size: $font-size__text--regular;

  line-height: $line-height__primary;
}
