// Миксин для подключения шрифтов
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-style: $style;
    font-family: $font-family;
    font-display: swap;

    src: url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
  }
}
