/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid $palette-white;
    border-radius: 10px;
    background: $scrollbar__contoller;
  }
}

/* purgecss end ignore */
