// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Выпадающий список"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "dropdown";