// Брейпоинты разных экранов для адаптива
$breakpoint-laptop--large: max-width 1700px;
$breakpoint-laptop--medium: max-width 1400px;
$breakpoint-laptop: max-width 1200px;

$breakpoint-tablet--large: max-width 992px;
$breakpoint-tablet: max-width 768px;

$breakpoint-mobile--large: max-width 576px;
$breakpoint-mobile--medium: max-width 380px;
$breakpoint-mobile: max-width 330px;
