// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;
