// Подключение переменных
@import "variables/color";
@import "variables/typography";
@import "variables/z-index";
@import "variables/breakpoint";

// Подключение плейсходеров
@import "placeholders/placeholders";

// Подключение функций
@import "functions/functions";

// Подключение миксинов
@import "mixins/font";
@import "mixins/background";
@import "mixins/flex";
