// -----------------------------------------------------------------------------
// В этом файле находятся все основные SASS - Переменные
// -----------------------------------------------------------------------------

/* ----------------- ОБЩЕЕ */
// Максимальная ширина контейнера
$container-max-width: 1180px;

// Значения для послойного наложения
$z-index-main: 1;
$z-index-second: 2;
$z-index-header: 50;
$z-index-overlay: 100;
$z-index-menu: 110;
$z-index-modal: 120;

/* ----------------- ЦВЕТА */
// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;

// Цветовая палитра кнопок
$button-primary: #75b726;

// Цветовая палитра инпутов
$input-text: #a0a0a0;

// Цветовая палитра текста
$text-black: #0a0a19;

/* ----------------- АДАПТИВ */
// Брейпоинты разных экранов для адаптива
$breakpoint-laptop: max-width 1024px;
$breakpoint-tablet: max-width 768px;
$breakpoint-mobile-large: max-width 425px;
$breakpoint-mobile-medium: max-width 375px;
$breakpoint-mobile-small: max-width 320px;

/* ----------------- ТИПОГРАФИКА */
// Толщина шрифта
$weight-lightest: 100;
$weight-light: 300;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
$weight-extrabold: 900;

// Размеры шрифта
$font-size-0: 80px;
$font-size-1: 60px;
$font-size-2: 38px;
$font-size-3: 30px;
$font-size-4: 24px;
$font-size-5: 21px;
$font-size-6: 18px;
$font-size-7: 16px;
$font-size-8: 14px;
$font-size-9: 12px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;
