// -----------------------------------------------------------------------------
// Соединяем все фрагменты разметки в один файл
// -----------------------------------------------------------------------------

// Общие фрагметы, которые встречаются на всех страницах
@import "common/header";
@import "common/footer";

// Фрагметы главной страницы
@import "pages/main/section.scss";