// Брейпоинты разных экранов для адаптива
$breakpoint-laptop: max-width 1024px;
$breakpoint-tablet: max-width 768px;
$breakpoint-mobile-large: max-width 425px;
$breakpoint-mobile-medium: max-width 375px;
$breakpoint-mobile-small: max-width 320px;
