// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;

// Цветовая палитра кнопок
$button-primary: #75b726;

// Цветовая палитра инпутов
$input-text: #a0a0a0;

// Цветовая палитра текста
$text-black: #0a0a19;
