// Анимации смены стилей
$transition__component: 0.2s ease;

// Сглаживание углов
$border-radius--primary: 5px;

// Тени
$shadow-primary: 0 2px 10px rgba(0, 0, 0, 0.1);

// Бордер
$border-primary: 1px solid #222222;
