// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;

// Размеры шрифта
$font-size__title--large: 64px;
$font-size__title--medium: 48px;
$font-size__title--small: 36px;

$font-size__text--large: 24px;
$font-size__text--big: 18px;
$font-size__text--regular: 16px;
$font-size__text--small: 14px;

// Межстрочные расстояния
$line-height--primary: 1.5;
$line-height--secondary: 1.25;
