// Толщина шрифта
$weight-lightest: 100;
$weight-light: 300;
$weight-thin: 400;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
$weight-extrabold: 900;

// Размеры шрифта
$font-size-0: 80px;
$font-size-1: 60px;
$font-size-2: 38px;
$font-size-3: 30px;
$font-size-4: 24px;
$font-size-5: 21px;
$font-size-6: 18px;
$font-size-7: 16px;
$font-size-8: 14px;
$font-size-9: 12px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;
