<meta name="description" content="описание не длиннее 155 символов" />
<meta name="keywords" content="мета-теги, шаблон, html, css, acr0matic" />

<!-- Контролирует поведение поисковых систем при индексации страницы -->
<meta name="robots" content="index,follow,noodp" />

<!-- Покраска адресной строки в мобильных Chrome, Firefox OS и Opera -->
<meta name="theme-color" content="#4285f4" />

<!-- Для Windows Phone -->
<meta name="msapplication-navbutton-color" content="#4285f4" />

<!-- Для iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<!-- И для Яндекс.Браузера -->
<meta name="viewport" content="ya-title=#4e69a2,ya-dock=fade" />
