// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Таблица"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "table";