// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Слайдер"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "slider";