// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Список"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "list";