.lazy {
  position: relative;

  &__item {
    opacity: 0;
    visibility: hidden;

    pointer-events: none;

    transition: $transition ease;

    &--blur {
      opacity: 1;
      visibility: visible;

      filter: blur(10px);
    }
  }
}

.loaded {
  opacity: 1;
  visibility: visible;

  filter: none;
  pointer-events: initial;
}
