$font-default: "Roboto", sans-serif; // Семейство по умолчанию

// Размеры заголовков
$font-size__title--large: 64px;
$font-size__title--medium: 48px;
$font-size__title--small: 36px;

// Размеры текста
$font-size__text--large: 24px;
$font-size__text--big: 18px;
$font-size__text--regular: 16px;
$font-size__text--small: 14px;

// Межстрочные расстояния
$line-height--primary: 1.5;