@charset 'UTF-8';

// 0. Подключение первичных стилей
@import "vendors/normalize";
@import "vendors/breakpoint";

// 1. Подключение базовых функций и переменных
@import "abstracts/abstracts";

// 2. Подключение основных стилей
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";

// 3. Импорт библиотек
@import "vendors/family";
@import "vendors/hamburgers";
@import "vendors/bootstrap-grid";
@import "vendors/bootstrap-utilities";

// 4. Импорт надстроек библиотек
@import "vendors-extended/vendor-extend";

// 5. Подключение стилей компонентов
@import "components/components";

// 6. Подключение стилей разметки
@import "layout/layout";

