@charset 'UTF-8';

// 1. Подключение базовых функций и переменных
@import "abstracts/abstracts.scss";

// 2. Подключение основных стилей
@import "base/base.scss";
@import "base/fonts.scss";
@import "base/typography.scss";
@import "base/helpers.scss";

// 3. Импорт библиотек
@import "vendors/normalize.scss";
@import "vendors/family.scss";
@import "vendors/breakpoint.scss";
@import "vendors/bootstrap-grid";

// 4. Импорт надстроек библиотек
@import "vendors-extended/vendor-extend";

// 5. Подключение стилей компонентов
@import "components/components.scss";

// 6. Подключение стилей разметки
@import "layout/layout.scss";

