.mobile-menu {
  position: fixed;
  z-index: 40;
  inset: 0;

  height: 100vh;

  visibility: hidden;

  &__overlay {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
  }

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__wrapper {
      top: 0;
    }
  }
}
