// -----------------------------------------------------------------------------
// В этом файле подключаются все шрифты через font-face, если таковые есть
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Roboto";
  src: url("/dist/fonts/Roboto/Roboto.woff2") format("woff2"),
    url("/dist/fonts/Roboto/Roboto.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
