// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Секция"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "section";