.button {
  border: none;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
