// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "button";
